@font-face {
    font-family: 'VAGRound', sans-serif;
    src: url('../fonts/VAGRound.woff2') format('woff2'),
        url('../fonts/VAGRound.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}